.place {
    max-width: 984px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
}

.place:nth-child(3) {
    margin-bottom: 72px;
}

.place:nth-child(5) {
    margin: 0;
}

.place__title {
    max-width: 457px;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {
    .place {
        margin-bottom: 83px;
        width: 100%;
    }
    .place__title {
        margin-bottom: 40px;
        font-size: 72px;
        line-height: 65px;
        align-self: end;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 72px;
    }
    .place__title {
        font-size: 42px;
        width: 90%;
        line-height: 50px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 740px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 48px;
    }
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 375px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 48px;
    }
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {}
